.app-container {
  display: flex;
  flex-direction: column;
  height: 100vh;
  background-color: #0a0a0a;
}

.app-main-content {
  display: flex;
  flex: 1;
  overflow: hidden;
}

.app-main {
  flex: 1;
  overflow-y: auto;
}